---
import { CollectionEntry, getCollection } from "astro:content";
import Main from "@layouts/Main.astro";
import Cards from "@components/Cards.astro";
import InitialPageButton from "@components/InitialPageButton.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });

  const authors = posts.reduce((authors, post) => {
    return authors.includes(post.data.author)
      ? authors
      : [...authors, post.data.author];
  }, [] as string[]);

  const postsByAuthor = (author: string) =>
    posts.filter((post) => post.data.author === author);

  return authors.map((author) => ({
    params: { author: author.toLowerCase().replace(" ", "") },
    props: { author, posts: postsByAuthor(author) },
  }));
}

interface Props {
  posts: CollectionEntry<"blog">[];
  author: CollectionEntry<"blog">["data"]["author"];
}

const { posts, author } = Astro.props as Props;
---

<Main>
  <section class="m-8 grid gap-4 lg:m-auto lg:my-8 lg:max-w-3xl">
    <h1 class="text-3xl font-bold pb-4 border-b-2 border-b-gray-700">
      {author}
    </h1>
    <Cards posts={posts} />
    <InitialPageButton text="Página Inicial" />
  </section>
</Main>
