---
import SearchBar from "@components/SearchBar.astro";
import Cards from "@components/Cards.astro";
import MainLayout from "@layouts/Main.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", (post) => {
  return !post.data.draft && post.data.date < new Date();
});
---

<MainLayout>
  <section class="m-8 grid gap-4 lg:m-auto lg:my-8 lg:max-w-3xl">
    <SearchBar />
    <Cards posts={posts} />
  </section>
</MainLayout>

<script>
  const input = document.querySelector('input[id="simple-search"]');
  const posts = document.querySelectorAll("[data-title]");

  if (!input) throw new Error("could not query input");

  input.addEventListener("input", (e) => {
    e.preventDefault();

    const target = e.target as HTMLInputElement | null;

    if (!target?.value)
      return posts.forEach((post) => post.classList.remove("hidden"));

    for (const post of posts) {
      post.classList.add("hidden");

      if (target.value.toLowerCase().startsWith("#")) {
        const dataTags = post.getAttribute("data-tags");

        if (!dataTags) continue;

        const tags = dataTags.split(",");

        if (tags.length === 0) continue;

        const searchedTag = target.value.replace(/#/g, "").trim();

        const hasTag = tags.some((tag) =>
          tag.toLowerCase().startsWith(searchedTag)
        );

        if (hasTag) post.classList.remove("hidden");
      }

      const title = post.getAttribute("data-title");

      if (!title) continue;

      const matchesTitle = title
        .toLowerCase()
        .startsWith(target.value.toLowerCase().trim());

      if (matchesTitle) post.classList.remove("hidden");
    }

    console.log(target?.value);
  });
</script>
