---
interface Props {
  name: string;
  date: Date;
}

const { name, date } = Astro.props as Props;

const formattedDate = date.toLocaleString();
---

<div class="grid-flow-row p-4 bg-sky-100">
  <h2 class="text-sky-800 text-sm font-bold inline cursor-pointer">
    <a href={`/${name.toLowerCase().replace(" ", "")}/`}>
      {name}
    </a>
  </h2>

  <h2>{formattedDate}</h2>
</div>
