---
interface Props {
  name: string;
  date: Date;
}

const { name, date } = Astro.props as Props;

const formattedDate = date.toLocaleDateString("pt-BR", {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});

const nameSlug = name.toLowerCase().replace(" ", "");
---

<div class="flex justify-between place-items-center p-4 bg-gray-700 my-4 md:my-0">
  <div class="flex gap-2 place-items-center">
    <div class="rounded-full w-8 h-8 bg-slate-600"></div>
    <h2 class="text-gray-100 text-sm font-bold hover:cursor-pointer md:text-lg">
      <a href={`/${nameSlug}`}>{name}</a>
    </h2>
  </div>

  <h2 class="text-sm font-semibold text-gray-100">{formattedDate}</h2>
</div>
