---
import { Image } from "@astrojs/image/components";
import type { CollectionEntry } from "astro:content";

type Props = {
  hideAuthor?: boolean;
  minifyTitle?: boolean;
} & CollectionEntry<"blog">;

const { data, slug, hideAuthor, minifyTitle } = Astro.props as Props;

const minifiedTitle =
  data.title.length > 30 ? `${data.title.slice(0, 30)}...` : data.title;
---

<div
  class="p-4 border-solid border-2 border-sky-500 grid gap-4 hover:bg-sky-50"
>
  <div class="grid gap-2">
    <h1>
      <span class="font-extrabold text-xl"
        >{minifyTitle ? minifiedTitle : data.title}</span
      >{" "}
    </h1>
    <Image {...data.image} format="webp" fit={"contain"} class="h-48 w-96" />
    <p>{data.description}</p>
  </div>

  <div>
    <a
      href={`/${data.author.toLowerCase().replace(" ", "")}/${slug}`}
      class="text-sky-500 font-extrabold">Read more</a
    >
    {
      !hideAuthor && (
        <span class="font-bold text-lg text-sky-700 cursor-pointer">
          {"- "}
          <a href={`/${data.author.toLowerCase().replace(" ", "")}/`}>
            {data.author}
          </a>
        </span>
      )
    }
  </div>
</div>
