---
import type { CollectionEntry } from "astro:content";
import Card from "@components/Card.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props as Props;
---

<>
  {
    posts.length === 0 ? (
      <h1>{`There are no posts available :(`}</h1>
    ) : (
      posts.map((post, index) => <Card {...post} index={index} />)
    )
  }
</>
