<div class="grid grid-flow-col p-8 bg-sky-200 justify-between">
  <h2>Logo</h2>
  <ul class="hidden gap-4 sm:flex">
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      <a href="/"> Nibo Blog</a>
    </li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Recentes
    </li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Relevantes
    </li>
  </ul>

  <ul class="hidden gap-4 sm:flex">
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">Login</li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Cadastrar
    </li>
  </ul>

  <div class="sm:hidden grid gap-0.5 hover:cursor-pointer">
    <div class="w-8 h-1 bg-black"></div>
    <div class="w-8 h-1 bg-black"></div>
    <div class="w-8 h-1 bg-black"></div>
  </div>
</div>
