<div class="grid grid-flow-col p-8 bg-sky-200 justify-between">
  <ul class="flex gap-4">
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      <a href="/"> Nibo Blog</a>
    </li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Recentes
    </li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Relevantes
    </li>
  </ul>

  <ul class="flex gap-2">
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Login
    </li>
    <li class="font-bold hover:text-yellow-400 hover:cursor-pointer">
      Cadastrar
    </li>
  </ul>
</div>
