---
interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;

const tagToSlug = (tag: string): string => {
  return `/tag/${tag.toLowerCase()}/`;
};
---

<div class="flex gap-2 mb-2">
  {
    tags.map((tag) => (
      <a
        href={tagToSlug(tag)}
        class="text-sky-500 font-bold hover:cursor-pointer hover:underline"
      >{`#${tag.toUpperCase()}`}</a>
    ))
  }
</div>
