---
import Main from "@layouts/Main.astro";
import { CollectionEntry, getCollection } from "astro:content";
import InitialPageButton from "@components/InitialPageButton.astro";
import Cards from "@components/Cards.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });

  const unparsedTags = posts.reduce((tags, post) => {
    return [...tags, ...post.data.tags.map((tag) => tag.toLowerCase())];
  }, [] as string[]);

  const tags = [...new Set(unparsedTags)];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts.filter((post) =>
        post.data.tags.some((t) => t.toLowerCase() === tag)
      ),
    },
  }));
}

interface Props {
  tag: CollectionEntry<"blog">["data"]["tags"][number];
  posts: CollectionEntry<"blog">[];
}

const { tag, posts } = Astro.props as Props;
---

<Main>
  <section class="m-8 grid gap-4 lg:m-auto lg:my-8 lg:max-w-3xl">
    <h1 class="text-3xl font-bold text-gray-200 pb-4 border-b-2 border-b-gray-700">{`#${tag.toUpperCase()}`}</h1>
    <Cards posts={posts} />
    <InitialPageButton text="Página Inicial" />
  </section>
</Main>
