---
import Main from "@layouts/Main.astro";
import Card from "@components/Card.astro";
import { CollectionEntry, getCollection } from "astro:content";
import InitialPageButton from "@components/InitialPageButton.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });

  const unparsedTags = posts.reduce((tags, post) => {
    return [...tags, ...post.data.tags.map((tag) => tag.toLowerCase())];
  }, [] as string[]);

  const tags = [...new Set(unparsedTags)];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts.filter((post) =>
        post.data.tags.some((t) => t.toLowerCase() === tag)
      ),
    },
  }));
}

interface Props {
  tag: CollectionEntry<"blog">["data"]["tags"][number];
  posts: CollectionEntry<"blog">[];
}

const { tag, posts } = Astro.props as Props;
---

<Main>
  <section class="m-8 grid gap-4">
    <h1 class="text-3xl font-bold text-sky-500">{`#${tag.toUpperCase()}`}</h1>
    <section class="grid gap-4 grid-cols-auto-fit">
      {
        posts.length === 0 ? (
          <h1>I could not find any post for this tag</h1>
        ) : (
          posts.map((post) => <Card {...post} />)
        )
      }
    </section>

    <InitialPageButton text="Página Inicial" />
  </section>
</Main>
