---
import Nav from "@components/Nav.astro";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
}

const { title, description, imageUrl } = Astro.props as Props;

const formattedTitle = `🚀 Nibo Space ${title ? `- ${title}` : ""}`;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <SEO
      title={formattedTitle}
      description={description || "Conteúdo incrível disponibilizado pelo Nibo"}
      openGraph={{
        basic: {
          title: formattedTitle,
          type: "Blog",
          image:
            imageUrl ||
            "https://cdn.discordapp.com/attachments/1105650515976650803/1108579911951724616/image.png",
        },
      }}
      twitter={{
        image:
          imageUrl ||
          "https://cdn.discordapp.com/attachments/1105650515976650803/1108579911951724616/image.png",
      }}
    />

    <meta
      property="og:image"
      content={imageUrl ||
        "https://cdn.discordapp.com/attachments/1105650515976650803/1108579911951724616/image.png"}
    />
    <meta
      name="twitter:image"
      content={imageUrl ||
        "https://cdn.discordapp.com/attachments/1105650515976650803/1108579911951724616/image.png"}
    />

    <meta name="theme-color" content={"#4c649a"} />

    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="bg-gradient-to-b from-gray-800 from-10% to-gray-900 to-90% text-gray-100 min-h-screen"
  >
    <Nav />
    <slot />

    <style is:global>
      ::-webkit-scrollbar {
        width: 1em;
      }

      ::-webkit-scrollbar-track {
        background: hsl(217, 20%, 30%);
      }

      ::-webkit-scrollbar-thumb {
        background: hsl(222, 34%, 45%);
      }

      ::-webkit-scrollbar-thumb:hover {
        background: hsl(221, 34%, 52%);
      }
    </style>
  </body>
</html>
